<app-header [template]="headerComponentLanding"></app-header>
<section class="fondo box">
  <h1 class="titulo">Bienvenido a nuestra Billetera Digital PIL MONEY</h1>
  <h3 class="subtitulo">
    Operá de forma cómoda y tené toda la información al día
  </h3>
  <img class="imgFondo" [src]="imgFondo" alt="" />
</section>
<app-footer></app-footer>

<ng-template #headerComponentLanding>
  <a appHeader (click)="redirectToLanding()" class="logo"
    >PIL MONEY<img
      src="/assets/imagenes/money-check-alt-solid.svg"
      [ngStyle]="styles.logo"
  /></a>
</ng-template>
