<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cuenta
        </mat-panel-title>
        <mat-panel-description>
            <p></p>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- contenido -->
      <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Abrir una cuenta
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Ingresá a la aplicación web de PIL Money en tu computadora y completa el formulario de registro.</p>
            <p>En las siguientes 48hs recibirás nuestro link de invitación por mail, que te llevará a nuestra página. Allí validaremos tus datos y estarás listo para operar</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Olvidé mi contraseña
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Si olvidaste tu contraseña podés recuperarla realizando el proceso de recuperación desde la opción "olvidé mi contraseña" en nuestra página de ingreso.</p>
        <p>La demora del proceso es de 24hs como máximo. Cuendo un email de confirmación, podrás acceder nuevamente y cambiar tu contraseña</p>
      </mat-expansion-panel>


        <!-- contenido -->
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ingresar y retirar dinero
          </mat-panel-title>
        </mat-expansion-panel-header>
    <!-- contenido -->
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Transferencias
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pagos y servicios
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Inversiones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Compra y venta de moneda extranjera
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos personales
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

  </mat-accordion>