
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900");

 h2{
   text-align: center;
   padding: 73.3px;
   color: #4d2c91;
   position: relative;
   top: 50px;
}

.imagen-uno{
  position: relative;
  bottom: -150px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;

}

.imagen-dos{
  position: relative;
  top: -160px;
  right: 30px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.imagen-dos:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  transition: all 0.5s ease 0.5s
}

.imagen-uno:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  transition: all 0.5s ease 0.5s;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 7px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 600px;
  position: relative;
 margin-top: -600px;

}

input{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-weight: 500;
  background-color:aliceblue;

}

.label-uno{
  font-weight: 500;
  color: #7e57c2;

}

.button-eye{
  background-color:transparent;
  border: none;
  outline: none;
  position: relative;
  right: 28px;
}

 .full-width-input{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 600;
  }

 .error{
    margin-left: 30px;
    font-weight: 500;
  }

  input[type="file"]#mi-archivo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }

    label[for="mi-archivo"]{
      width: 100%;
      outline: none;
      border: none;
      background-color: #7e57c2;
      max-width: 100px;
      padding: 10px;
      font-weight: 500;
      color: rgb(247, 241, 241);
      margin-left: 75px;
      border-radius: 3px;
      cursor: pointer;
    }

    label[for="mi-archivo"] span{
      color: white;
      position: relative;
      left: 20px;
      top: 0px;
    }

    label[for="mi-archivo"]:hover{
      background-color: #4d2c91;
    }

    .img-default{
      position: relative;
      top: 55px;
      left: 53px;
      padding-bottom: 40px;
    }

  .label-tres{
    padding-bottom: 40px;
    padding-top: 40px;

  }

  .button-foto{
    padding-bottom: 20px;
  }

 .button-registro button{
    width: 100%;
    outline: none;
    border: none;
    background-color: #7e57c2;
    max-width: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
    color: rgb(247, 241, 241);
    border-radius: 5px;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 140px;
    bottom: 30px;
   margin-top: 100px;
  }


   .button-registro button:hover{
    background-color: #4d2c91;
  }

  .button-registro button:disabled{
    background-color: #c7a4ff;
  }

  .button-inicioSesion button{
    width: 100%;
    outline: none;
    border: none;
    background-color: #7e57c2;
    max-width: 150px;
    padding: 13px;
    font-weight: 500;
    color: rgb(247, 241, 241);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 3px;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 258px;
    bottom: 83px;
    margin-bottom: -55px;
  }

  .button-inicioSesion button:hover{
    background-color: #4d2c91;
  }

  .box{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .box-left{
    display: flex;
    justify-content: flex-start;
    background-color: #e8eaf6;

  }

  .box-right{
    display: flex;
    justify-content: flex-end;
    background-color: #e8eaf6;
  }

  a img{
    position: relative;
    top: 60px;
    right: 600px;
    cursor: pointer
  }

  .imagen {
    display: none;
  }

  @media screen and (max-width: 1520px){
    .box-left img{
      width: 350px;
      position: relative;
      top: 150px
    }
    .box-right img{
      width: 250px;
      top: -75px
    }
    .container{
      margin-top: -400px;
    }

    a img {
      right: 550px;
    }
  }

  @media screen and (max-width: 1375px) {
    a img{
      right: 350px;
    }

      .box-right {
        display: none;
      }

      .imagen{
        display: block;
        filter: brightness(1.1);
      mix-blend-mode: multiply;
      }

      .box-left{
        flex-direction: column;
        margin-left: 100px;
        margin-top: -100px;
      }

    .container{
      position: relative;
      left: 200px;
    }
  }

  @media screen and (max-width: 1128px) {

    a img{
      right: 250px;
    }
    .container {
      max-width: 400px;
    }

    .button-registro button{
      right: 40px;

     }
     .button-inicioSesion button{
       left: 150px;
     }

  }


  @media screen and (max-width: 977px){
    .box-left{
      visibility: hidden;
    }
     .container{
       left: 0;
     }
     a img {
      right: 0px;
      align-items: center;
      justify-content: center;
    }
  }

.calendario{
  margin-left: -100px;
  position: relative;
  left: 110px;
  margin-top: 40px;
  bottom: 30px;
}

.label-cuatro{
  margin-bottom: -100px;
  font-weight: 500;
}

.input-calendario{
  background-color: transparent;
}

.input-cuil{
  margin-left: -200px;
  position: relative;
  left: 90px;
  margin-top: 100px;
  top: 40px;
  margin-bottom: 30px;

}

.input-telefono{
  margin-left: -400px;
  position: relative;
  left: 310px;
  margin-top: 100px;
  top: 120px;
  margin-bottom: 80px;
}

.input-nombreCompleto{
  margin-left: -400px;
  position: relative;
  left: 530px;
  margin-top: 100px;
  top: 200px;
  margin-bottom: 170px;
}
