<div class="box">
  <a (click)="commonForm.goBack()">
    <img src="/assets/imagenes/arrow-left-solid.svg" alt="" />
  </a>
  <h2 class="titulo">Registrate</h2>
</div>
<div class="box-left">
  <img class="imagen-uno" [src]="fullImagePath" alt="" />
  <img class="imagen" [src]="fullImagePathDos" alt="" />
</div>
<div class="box-right">
  <img class="imagen-dos" [src]="fullImagePathDos" alt="" />
</div>
<section class="container">
  <form
    [formGroup]="myForm"
    class="example-form"
    (ngSubmit)="userService.register(myForm.value)"
  >
    <mat-form-field class="full-width-input">
      <mat-label class="label-uno">Correo Electronico*</mat-label>
      <input
        type="email"
        formControlName="email"
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        minlength="5"
        maxlength="25"
        matInput
        class="input-name"
      />
    </mat-form-field>
    <mat-error class="error">{{ commonForm.emailErrores() }}</mat-error>
    <mat-form-field class="full-width-input">
      <mat-label class="label-uno">Contraseña*</mat-label>
      <input
        formControlName="contraseña"
        pattern="^[0-9a-zA-ZÀ-ÿ\s]{1,40}$"
        minlength="8"
        maxlength="15"
        [type]="hide ? 'text' : 'password'"
        matInput
      />
    </mat-form-field>
    <button type="button" class="button-eye" matSuffix (click)="hide = !hide">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error class="error">{{ commonForm.passwordErrores() }}</mat-error>
    <div class="label-tres">
      <label class="label-uno">Foto del frente y reverso del DNI*</label>
    </div>
    <div class="button-foto">
      <input
        type="file"
        name="mi-archivo"
        id="mi-archivo"
        formControlName="imagenDNI"
        (change)="capturarFile($event)"
        required
      />
    </div>
    <label for="mi-archivo">
      <span>Subir</span>
    </label>
    <div *ngIf="previsualizacion">
      <img width="150px" [src]="previsualizacion" alt="" class="img-default" />
    </div>
    <mat-form-field appearance="fill" class="calendario">
      <mat-label class="label-cuatro">Fecha de Nacimiento*</mat-label>
      <input class="input-calendario" matInput [matDatepicker]="picker" required formControlName="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width-input input-cuil">
      <mat-label class="label-uno">Cuil*</mat-label>
      <input
        type="text"
        matInput
        class="input-name"
        formControlName="cuil"
      />
    </mat-form-field>
    <mat-form-field class="full-width-input input-telefono">
      <mat-label class="label-uno">Telefono*</mat-label>
      <input
        type="text"
        matInput
        class="input-name"
        formControlName="telefono"
      />
    </mat-form-field>
    <mat-form-field class="full-width-input input-nombreCompleto">
      <mat-label class="label-uno">Nombre Completo*</mat-label>
      <input
        type="text"
        matInput
        class="input-name"
        formControlName="nombreCompleto"
      />
    </mat-form-field>
    <div class="button-registro">
      <button
        type="submit"
        [disabled]="myForm.invalid"
        mat-stroked-button
        disabled
      >
        Confirmar
      </button>
    </div>
    <div class="button-inicioSesion">
      <button type="button" [routerLink]="['/login']">Iniciar Sesion</button>
    </div>
  </form>
</section>
