<h2 class="sugerencias">Sugerencias</h2>
<h4><mat-icon>lock</mat-icon> Se recomienda crear contraseñas seguras.</h4>
<h4>
  <mat-icon>vpn_lock</mat-icon> Es importante que tu dispositivo cuente con un
  antivirus que detecte algun malware o codigo malicioso.
</h4>
<h4>
  <mat-icon>password</mat-icon> No compartas tus datos personales (contraseña)
  con ninguna persona, nosotros nunca vamos a pedírtelos, no caigas en una
  estafa.
</h4>
<h4>
  <mat-icon>phonelink_lock</mat-icon> Recordá cerrar tu sesión apenas termines,
  no dejes tu cuenta abierta en ningún dispositivo.
</h4>
