.container{
  position: absolute;
  z-index: 1;
  background-color: #e8eaf6;
  padding-right: 1908px;
}



.loader{
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container{
  position: fixed;
}
