<!-- SIDEBAR IZQUIERDA -->

<span
  class="titulo-pil justify-content-between px-4 py-2"
  routerLink="/wallet/inicio"
>
  <h5 class="mt-2 titulo-money">PIL MONEY</h5>
  <img [src]="logoPil" class="mat-card-image logopil" />
</span>

<div class="container-fluid side-bar">

  <span class="titulo"
    ><mat-icon class="icon">miscellaneous_services</mat-icon>
    <h6>Servicios</h6></span
  >
  <section class="texto">
    <mat-button-toggle-group
      name="servicios"
      aria-label="Servicios"
      vertical
      class="list-button"
      role="group"
    >
      <mat-button-toggle
        value="bold"
        routerLink="/wallet/inicio"
        routerLinkActive="./wallet/inicio"
      >
        <mat-icon>account_balance_wallet</mat-icon>
        <p>Mi cuenta</p>
      </mat-button-toggle>
      <mat-button-toggle
        value="underline"
        routerLink="./wallet/ingresaryretirar"
      >
        <mat-icon>payments</mat-icon>
        <p>Ingresar y Retirar</p>
      </mat-button-toggle>

      <mat-button-toggle value="underline" routerLink="./wallet/transferencias">
        <mat-icon>multiple_stop</mat-icon>
        <p>Transferencias</p>
      </mat-button-toggle>

      <mat-button-toggle value="italic" routerLink="./wallet/pagos">
        <mat-icon>paid</mat-icon>
        <p>Pagos y Servicios</p>
      </mat-button-toggle>

      <mat-button-toggle value="underline" routerLink="./wallet/inversiones">
        <mat-icon>trending_up</mat-icon>
        <p>Inversiones</p>
      </mat-button-toggle>

      <mat-button-toggle value="underline" routerLink="./wallet/compra">
        <mat-icon>local_atm</mat-icon>
        <p>Compra y Venta</p>
      </mat-button-toggle>

      <mat-button-toggle value="underline" routerLink="./wallet/misdatos">
        <mat-icon>account_circle</mat-icon>
        <p>Mis Datos</p>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <span class="titulo"
    ><mat-icon class="icon">help_outline</mat-icon>
    <p class="ayuda">Ayuda</p></span
  >
  <section class="texto">
    <mat-button-toggle-group
      name="servicios"
      aria-label="Servicios"
      vertical
      class="list-button"
      role="group"
    >
      <mat-button-toggle value="bold" routerLink="./wallet/preguntas">
        <mat-icon>question_answer</mat-icon>
        <p>Preguntas</p>
      </mat-button-toggle>

      <mat-button-toggle value="underline" routerLink="./wallet/contactos">
        <mat-icon>contact_support</mat-icon>
        <p>Contactos</p>
      </mat-button-toggle>

      <mat-button-toggle value="italic" routerLink="./wallet/sugerencias">
        <mat-icon>settings_suggest</mat-icon>
        <p>Sugerencias</p>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>
  <div class="row mt-4 text-center">
    <div class="col">
      <button mat-raised-button color="warn">
        <mat-icon class="tamano">logout</mat-icon>
        <p class="cerrar">Cerrar Sesión</p>
      </button>
    </div>
  </div>
</div>
