.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: 19px;
}

.titulo-pil {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px !important;
  background-color: var(--violeta-claro);
}

.texto {
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  font-size: 12px;
  margin-bottom: 50px;
}

.texto-violeta {
  color: #5e35b1;
}

:host mat-button-toggle-group {
  border-radius: 15px;
  border: 5px inset rgba(0, 0, 0, 0.4);
}

:host mat-button-toggle {
  background-color: var(--blanco);
  text-align: top !important;
  padding: 0px 25px;
  max-height: 40px;
}

.logopil {
  height: 45px;
  margin-left: 10%;
  margin-bottom: 5px;
  width: auto;
  z-index: 1;
}

.titulo-money {
  font-weight: bold;
}

mat-icon {
  margin-top: 5px;
  display: flex;
  position: relative;
  left: -22px;
}

.side-bar {
  margin-top: 15%;
  min-width: 230px;
}

.icon {
  position: relative;
  right: 3px;
  bottom: 3px;
}

p {
  position: relative;
  bottom: 34px;
  text-align: left;
  margin-left: 20px;
  font-size: 15px;
}

.ayuda {
  position: relative;
  bottom: -1px;
  right: 20px;
}

.tamano {
  position: relative;
  width: 100px;
  height: 0px;
  bottom: -10px;
  padding-left: 15px;
}

.cerrar {
  position: relative;
  bottom: -5px;
  font-size: 16px;
}
