<mat-card class='text-center mx-5 mb-5 texto-violeta'>
  <mat-card-title>¡Hola “usuario”, estás en tu cuenta!</mat-card-title>
  <mat-card-content><img mat-card-lg-image [src]="imgMoney"></mat-card-content>
</mat-card>

<mat-card class='mx-5 texto-violeta'>
  <mat-card-title class="text-center">Cuenta - 12345678</mat-card-title>
  <mat-card-content>
     <div class="row">
      <div class="col-sm-5">
        <h6>Caja de ahorro en pesos</h6>
        <h6>CVU - 12345678</h6>
        <h6>Alias - mono.patin.pato</h6>
      </div>
      <div class="col-sm-7 text-center">
          <h6>Saldo Total</h6>
          <h5>{{50000 | currency }}</h5>
          <button mat-raised-button color="primary">Ver mis movimientos</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
