.titulo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: 13px;
}


.titulo-pil{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px ;
  margin-bottom: 10px !important;
  background-color: var(--violeta-claro);
}

.texto{
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  font-size: 12px;
}

.texto-violeta{
  color: #5e35b1;
}

:host mat-button-toggle-group{
  border-radius: 15px;
  border: 5px inset rgba(0, 0, 0, 0.4);
}

:host mat-button-toggle{
  background-color: var(--blanco);
  text-align: left !important;
  padding: 0px;
  max-height: 40px;
}

.logopil{
  height: 45px;
  margin-left: 150px;
  top:5px;
  margin-bottom: 5px;
  width: auto;
  position: fixed;
  z-index: 1;
}

.titulo-money{
  visibility: hidden;
}