@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900");



  .box-front {
    background-color: #e8eaf6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

  .titulo {
    text-align: center;
    margin-top: 150px;
    color: #4d2c91;
    margin-bottom: -100px;
    }


    .imgFondo{
        width: 500px;
        position: right;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        height: auto;
        bottom: 30px;
        margin-top: 100px;
        margin-right: 50px;
        margin-left: 300px;
        margin-bottom: 50px;
      }

      .imgFondo:hover{
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        transition: all 0.5s ease 0.5s;
      }

      .box-left{
        background-color: #e8eaf6;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
        margin-right: 400px;
    }

    .conteiner-about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        margin-left: 0px;
    }

    .conteiner-texto {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        padding-right: 200px;
        width: 100%;
        font-size: 18px;
        margin-right: 0px;
    }

    @media screen and (max-width: 1250px) {
        .box-left .imgFondo {
          width: 400px;
        }
    }

    @media screen and (max-width: 1035px) {
        .box-left .imgFondo {
          align-items: center;
          justify-content: center;
          margin-bottom: 300px;
          margin-left: 1000px;
        }

        .conteiner-about {
          padding-top: 500px;
          padding-right: 1000px;
        }

    }

    .logo{
      margin: 25px;
      color:white;
      text-align: 20px;
      cursor: pointer;
      font-size: 30px;
      text-decoration: none;
      padding-right: 22px;
      position: relative;


    }

    img{
      width: 35px;
      position: relative;
      left: 15px;
      bottom: 2px;
    }

