@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900");

h2 {
  text-align: center;
  padding: 73.3px;
  color: #4d2c91;
  position: relative;
  top: 60px;
}

.imagen-uno {
  position: relative;
  bottom: -160px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.imagen-dos {
  width: 450px;
  position: relative;
  top: -110px;
  right: 30px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.imagen-dos:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease 0.5s;
}

.imagen-uno:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease 0.5s;
}

.caja{
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 7px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 600px;
  position: relative;
  margin-top: -450px;
}


input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: aliceblue;
  font-weight: 500;
}

.label-uno {
  font-weight: 500;
  color: #7e57c2;
}

.button-eye {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;

  color: black;
  left: -25px;
}

.error {
  font-weight: 500;
  margin-left: 30px;
}

.full-width-input {
  margin-top: 30px;
  margin-left: 30px;
  font-weight: 600;
}

.button-confirmar {
  position: relative;
  left: 40px;
  bottom: 30px;
  margin-top: 200px;
  background-color: #7e57c2;
  max-width: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 3px;
  font-size: 1.4em;
  color: rgb(247, 241, 241);
}

.button-confirmar:hover {
  background-color: #4d2c91;
}

.button-confirmar:disabled {
  background-color: #c7a4ff;
  color: white;
}

.box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.box-left {
  display: flex;
  justify-content: flex-start;
  background-color: #e8eaf6;
}

.box-right {
  display: flex;
  justify-content: flex-end;
  background-color: #e8eaf6;
}

a img {
  position: relative;
  top: 60px;
  right: 600px;
  cursor: pointer;
}

.imagen {
  display: none;
}

@media screen and (max-width: 1520px) {
  .box-left img {
    width: 350px;
    position: relative;
    top: 150px;
  }
  .box-right img {
    width: 350px;
    top: -55px;
  }
  .container {
    margin-top: -300px;
  }

  a img {
    right: 550px;
  }
}


@media screen and (max-width: 1375px) {
a img{
  right: 350px;
}

  .box-right {
    display: none;
  }

  .imagen{
    display: block;
    filter: brightness(1.1);
  mix-blend-mode: multiply;
  }

  .box-left{
    flex-direction: column;
    margin-left: 100px;
  }

.container{
  position: relative;
  left: 200px;
  top: 20px;
}
}

@media screen and (max-width: 1119px) {

  a img{
    right: 250px;
  }
  .container {
    max-width: 400px;
  }

}

@media screen and (max-width: 977px){
  .box-left{
    visibility: hidden;
  }
   .container{
     left: 0;
   }
   a img {
    right: 0px;
    align-items: center;
    justify-content: center;
  }
}

